<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/home.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="w3-top">
    <div class="w3-bar w3-black w3-card" id="myNavbar">
        <a href="{{ url_for('home_page') }}" class="w3-bar-item w3-button w3-wide">LOGO</a>
        <div class="w3-right w3-hide-small">
            <a href="{{ url_for('about_page') }}" class="w3-bar-item w3-button"><i class="fa fa-info-circle"></i> SOBRE
            </a>
            <a href="{{ url_for('prices_page') }}" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PREÇOS </a>
            <a href="{{ url_for('contact_page') }}" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTATO
            </a>
            <a href="{{ url_for('login_page') }}" class="w3-bar-item w3-button"><i class="fa fa-sign-in"></i> SIGN-IN
            </a>
        </div>
    </div>
</div>

<div class=" w3-dark-grey"></div>

<div class="w3-row-padding w3-light-gray" style="margin-top:64px">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    <div class="w3-half w3-section centralize">
        <h3 class="w3-center"><b>LOGIN</b></h3>
        <p class="w3-center w3-large">Enter your credentials to access your account:</p>
        <div style="margin-top:48px">
            <form class="w3-light-gray" method="post" action="/autenticar">
                <div class="container">
                    <label><b>Username</b></label>
                    <input class="w3-border-black" type="text" placeholder="Enter Username" name="uname" required>

                    <label><b>Password</b></label>
                    <input class="w3-border-black" type="password" placeholder="Enter Password" name="psw" required>
                    <span class="signup" style="float: right">Not a member? <a href="{{ url_for('signup_page') }}">Sign Up</a></span>
                    <span class="psw" style="float: left">Forgot <a href="#">password?</a></span>
                    <button type="submit" class="w3-dark-gray ">Login</button>
                    <input type="checkbox" checked="checked"> Remember me


                </div>
            </form>
        </div>
    </div>
    <div class="w3-half w3-section">
        <img class="w3-image w3-greyscale center" alt="" src="/static/bookshelves.jpg">
    </div>
</div>
</div>


<footer class="w3-center w3-black w3-padding-64">
    <div class="w3-xlarge w3-section">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p class="w3-small">Copyright © 2022 Test Inc. Todos os direitos reservados.</p>
</footer>

</body>
</html>
